.serviceTitle {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Serif, serif;
  text-align: center;
  background-color: rgb(243, 243, 244);

  .containerItem{
    align-self: center;
  }
}

.titleDescription{
  text-align: center;
  margin: 30px 150px 50px;
}

.ServicesCards{
  margin-top: 25px;
  margin-left: 70px;
  margin-right: 70px;
  border-left: aqua;

}
